C and C++/OpenGL/OpenGL_playground/.vs
C and C++/OpenGL/OpenGL_playground/x64


C and C++/bstlib/.vs
C and C++/bstlib/x64

C and C++/project vizualization/.vs
C and C++/project vizualization/x64

/Java/mavenproject1/target/
/Java/JavaApplication2/nbproject/private/
/Java/JavaApplication2/build/
/Java/MyLinkedList/nbproject/private/
